<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
          http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>AllCurrenciesServlet</servlet-name>
        <servlet-class>servlet.currency.AllCurrenciesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllCurrenciesServlet</servlet-name>
        <url-pattern>/currencies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCurrencyServlet</servlet-name>
        <servlet-class>servlet.currency.GetCurrencyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCurrencyServlet</servlet-name>
        <url-pattern>/currency/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllExchangeRatesServlet</servlet-name>
        <servlet-class>servlet.exchange.AllExchangeRatesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllExchangeRatesServlet</servlet-name>
        <url-pattern>/exchangeRates</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ExchangeRateServlet</servlet-name>
        <servlet-class>servlet.exchange.ExchangeRateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExchangeRateServlet</servlet-name>
        <url-pattern>/exchangeRate/*</url-pattern>
    </servlet-mapping>

</web-app>